.footer {
    /* /* display: flex; */
    justify-content: space-evenly;
    display: flex;
    position: fixed;
    flex: 0.1;
    bottom: 1vh;
    height: 7vh;
    width: 100%;
    border-top: 1px solid green;
}